.center {
    text-align: center;
    margin: 40px 0;
}

.group {
    margin-top: 40px;
}

.redButton {
    background-color: #fc523f;
    border: 4px solid #ff9185;
    color: #fff;
    height: 144px;
    border-radius: 160px;
    padding: 0;
    width: 144px;
    margin: 16px;
}