button svg {
    vertical-align: middle;
    height: 1.2em;
    width: 1.2em;
    margin-top: -0.2em;
    fill: var(--text-primary);
}

.nav-button svg {
    fill: var(--text-primary)
}



.lockIcon {
    height: 20px;
    width: 20px;
    padding: 2px;
}